<link rel="stylesheet" href="<%= static_path(@conn, "/css/event.css") %>">
<div class="jumbotron">
  <h2 class="event_title"><%= @name %></h2>
</div>
<div class="jumbotron">
  <h2><%= @type %></h2>
</div>
<div class="jumbotron">
  <h2><%= @description %></h2>
</div>
<div class="jumbotron">
  <h2><%= @bonus %></h2>
</div>
<div class="jumbotron">
    <a href="/event">Next Event</a>
    <a href="/event/critic">Critic</a>
    <a href="/event/famble">Famble</a>
</div>